body {
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
}

.contentbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: white;
  width: 80vw;
  border-radius: 15px;
  height: 60vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contentbox > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contentbox .graphic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
}

.contentbox .graphic img {
  position: absolute;
  width: 45%;
  margin-left: -8%;
}

.contentbox .graphic img.box {
  width: 17%;
  left: -1%;
  margin-top: 8%;
  -webkit-animation: hovering 3s infinite;
          animation: hovering 3s infinite;
}

.contentbox .text {
  margin: auto 30px auto 0;
  min-width: 250px;
}

.contentbox .text .qacontainer {
  color: #787887;
}

.contentbox .text .qacontainer .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contentbox .text .qacontainer .question:hover {
  color: #f47c57;
  cursor: pointer;
}

.contentbox .text .qacontainer .question img {
  position: relative;
  margin: auto;
  margin-right: 0;
}

.contentbox .text .qacontainer .answer {
  display: none;
}

.contentbox .text .qacontainer .seperator {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e7e7e9;
}

@-webkit-keyframes hovering {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes hovering {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media (max-width: 725px) {
  .contentbox {
    min-height: 300px;
  }
  .contentbox .graphic {
    background: url("../images/bg-pattern-mobile.svg");
    background-position: center 0px;
    background-size: 70vw;
    background-repeat: no-repeat;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contentbox .graphic .fg {
    margin-top: -28vh;
    left: 15vw;
    width: 60vw;
  }
  .contentbox .graphic .box {
    position: relative;
    margin-left: -40vw;
    top: -12vh;
  }
  .contentbox .text {
    position: relative;
    top: -3vh;
    left: 3vw;
  }
  .contentbox .text h1 {
    text-align: center;
  }
}

@media (min-width: 726px) {
  .graphic {
    background-image: url("../images/bg-pattern-desktop.svg");
    background-size: 150% auto;
    background-position: center;
    background-position-x: -28vw;
    background-repeat: no-repeat;
  }
}
/*# sourceMappingURL=styles.css.map */